.sidebar {
    grid-area: aside;
    max-width: 512px;
    height: 100vh;

    background-color: #232225;
    border-radius: 0 40px 0 0;

    padding: 6rem 2rem;


    display: flex;
    flex-direction: column;
}

.sidebar a {
    min-width: 4rem;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar li a {
    text-decoration: none;
    color: #777777;
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 1.2rem;
    padding: .875rem 4rem .875rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;
    gap: .875rem;
}

.sidebar li a:hover {
    background-color: #E2E4E8;
}

.sidebar span {
    text-align: left;
}